#contents-1 {
  margin: 1em 0;
  padding: 1em;
}
#contents-2 {
  /* background-color: aqua; */

  margin: 1em 0;
  padding: 1em;
}
#contents-3 {
  /* background-color: aquamarine; */

  margin: 1em 0;
  padding: 1em;
}
#contents-4 {
  /* background-color: beige; */

  margin: 1em 0;
  padding: 1em;
}
#contents-5 {
  /* background-color: blueviolet; */

  margin: 1em 0;
  padding: 1em;
}
#contents-6 {
  /* background-color: brown; */

  margin: 1em 0;
  padding: 1em;
}
#articel-1 {
  background-color: cyan;
}
#articel-1-image {
  background-color: darkgray;
}
#articel-2 {
  background-color: honeydew;
}
#articel-2-image {
  background-color: lavender;
}
#menu {
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#contents {
  padding: 2em;
}
#contents-1-number {
  color: gray;
  opacity: 0.25;
}
#contents-1-content {
  margin-top: 0.5em;
}
#contents-2-number {
  color: gray;
  opacity: 0.25;
}
#contents-2-content {
  margin-top: 0.5em;
}
#contents-3-number {
  color: gray;
  opacity: 0.25;
}
#contents-3-content {
  margin-top: 0.5em;
}
#contents-4-number {
  color: gray;
  opacity: 0.25;
}
#contents-4-content {
  margin-top: 0.5em;
}
#contents-5-number {
  color: gray;
  opacity: 0.25;
}
#contents-5-content {
  margin-top: 0.5em;
}
#contents-6-number {
  color: gray;
  opacity: 0.25;
}
#contents-6-content {
  margin-top: 0.5em;
}
#contents-1-content-title {
  font-size: 1.2em;
}
